
/* layout/header.css */

@import "../common.less";

header[role=banner] {
  text-align: center;
  padding: 50px 0;
      
  h1.title {
    margin-top: 0;
  }
  
  ul.nav {
    
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    
    > li {
      
      float: left;
      
      > a {
        
        display: block;
        text-decoration: none;
        padding: 20px;
        
        &:hover {
          cursor: pointer;
          background: lightgray;
        }
        
      }
    }
  }
}