/* layout/header.css */
header[role=banner] {
  text-align: center;
  padding: 50px 0;
}
header[role=banner] h1.title {
  margin-top: 0;
}
header[role=banner] ul.nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
header[role=banner] ul.nav > li {
  float: left;
}
header[role=banner] ul.nav > li > a {
  display: block;
  text-decoration: none;
  padding: 20px;
}
header[role=banner] ul.nav > li > a:hover {
  cursor: pointer;
  background: lightgray;
}
