<!doctype html>
<html lang="{{app.config.language}}">
<head>
<title>{{req.pageTitle}}</title>
<meta charset="{{app.config.encoding}}" />

{{print_styles "stylesheets"}}{{#unless production}}
<link rel="stylesheet" type="text/css" href="core/css/development.css" />{{/unless}}

{{print_scripts "javascript-head"}}

</head>
<body>
  <header role="banner">
    <div class="container">
      <h1 class="title">{{app.config.title}}</h1>
      <ul class="nav clearfix">
        <li><a href="#">Welcome</a></li>
        <li><a href="#">Experiments</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul><!-- .nav -->  
    </div>
  </header>

