
@import "mixins/layout.less";


// Common

@bodyFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@titleFont: "Istok Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
@codeFont: Menlo, Monaco, Courier, monospace;

@fontAwesome: "font-awesome", sans-serif;
@entypo: "entypo", sans-serif;
@linecons: "linecons", sans-serif;
@zocial: "zocial", sans-serif;

@lineHeight: 1.7em;

// @bodyColor: @textColor;
// @linkColor: @primary;

@linkTransition: 0.15s;
@menuTransition: 41ms;

// Layout

// @sectionSep: @70px;
// @innerSep: @sectionSep;

@xsContainerWidth: 480px;
@smContainerWidth: 670px;

@xsFactor: 1;
@smFactor: 0.90;
@mdFactor: 0.90;
@lgFactor: 1;